/* Matty SIU ITEC236, edited 23 Feb 2025 */ 

/* the styles for the elements */ 
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    max-width: 725px;
    background-color: lavender; /* color is as it says */
    margin: 10px auto;
    } 

main {
    width: 50%; 
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: left; }

aside {
    width: 50%;
    height: 300px;
    background-color: lavender; /* this color is white for column panel */
    float: right; }

aside h2 {
	color: black;
	font-size: 130%;
	padding: .6em 0 .25em 0;
}

aside h3 {
	font-size: 100%;
	padding-bottom: .25em;
}
#nav_list ul { 
	list-style: none;
	margin-left: 0;
	margin-bottom: 1.5em; }
#nav_list ul li { 
	width: 93.02325%;
	margin-bottom: .5em;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 black;
	background-image: url("images/right.jpg");
	background-repeat: no-repeat;
	background-position: 95% center;
}
#nav_list ul li a {
	display: block;
	padding: .5em 0 .5em 3.72093%;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#nav_list ul li a.current {
	color: black;
}
h1, h2 {
   
    padding: 0.625em;
  
} 
p { 

    padding-left: 5px;
    padding-right: 5px;
}

footer { 
    clear: both; 
     }
    
ul { 
    
    padding-left: 10px; } 

li {
    padding-left: 10px; /* space between bullet and text */ 
   
} 
 
/* Special main image on index page with blue border and rounded corner- must have .bluetouch div class */ 
.bluetouch img {
    border: 2px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    position: relative;
    right: 10px; 
    top: 10px; 
}


@media only screen and (max-width: 720px) {
	body {
		font-size: 90%;
	}
	#nav_list ul li {
		border: none;
		box-shadow: none;
		background-image: none;
	}
	#nav-list ul li a {
		padding-left: 0; } }
figure {
    float: left;
    margin-right: 1.5em; 
}

.mono {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    position: relative;	
	margin:  0 auto;
	max-width: 630px;
    height: 350px;
}
/*  hover over and  blue touch on banner */
/* burned in */
.mono img {
    
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    position: absolute;	
	overflow: hidden;
    border: 2px solid #B5D3E7;
    border-radius: 600px;
    -moz-border-radius: 600px;
    margin: 0;
	opacity: 1;
    /* Sets the width and height for the images*/
	max-width: 600px;
	height: 350px;
}

/*  fading effect. */

.mono .multi{
  z-index: 9999;
  transition: opacity 2s linear;
  cursor: pointer;
}

/* burned in effect on 2nd image */
.mono:hover  .multi {
  opacity: 0.1;
/* basic images where blue borders are not required */ }
img {
    position: static;
    border: 2px double blue;
    border-radius: 15px;
}
    
