/* Matty SIU ITEC236, edited 3 Feb 2025 */ 

/* the styles for the elements */ 
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 725px;
    background-color: lavender; /* color is as it says */
    margin: 10px auto;
    } 

main {
    width: 50%; 
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: left; }

aside {
    width: 50%;
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: right; }
h1, h2 {
   
    padding: 10px;
  
} 
p { 

    padding-left: 5px;
    padding-right: 5px;
}

footer { 
    clear: both; 
     }
    
ul { 
    
    padding-left: 10px; } 

li {
    padding-left: 10px; /* space between bullet and text */ 
   
} 
 
/* Special main image on index page with blue border and rounded corner- must have .bluetouch div class */ 
.bluetouch img {
    border: 2px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    position: relative;
    right: 10px; 
    top: 10px; 
}

@media only screen and (max-width: 720px) {
	body {
		font-size: 90%;
	}

/* basic images where blue borders are not required */ 
img {
    position: static;
}
    
