body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 10px auto 10px;
    padding: 20px;
    background-color: lavendar;
    width: 725px;
}

footer {

    margin: 0.05em;
    border-top: 0.035em blue solid;
    text-align: center;
    font-size: 90%;
    font-style: bold;
}

h1 {
    padding: 10px;
    font-style: 150%;

}

h2 {
    padding: 10px;
    font-size:  125%;
    

}

h3 {
    padding: 10px;
    font-size: 115%;
}

p {
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
    font-style: normal;
}

p cite {
    color: blue;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.075em;
    font-style: normal;
}

.wrapper {
    background-color: white;
    border: 1em blue double;
}

.list {
    padding-left: 10px;

}
main {
    padding: 0.05em;
}
