/* Matty, Southern Illinois University, Last Developed & Tested 2 Feb 2025 */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 10px;
    background-color: lavender;
    width: 725px;
}

footer {
    clear: both;
}

h1 {
    padding: 10px;
    font-style: 150%;

}

h2 {
    padding: 10px;
    font-size:  125%;    
}

h3 {
    padding: 10px;
    font-size: 115%;
}

p {
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
    font-style: normal;
}

p cite {
    color: blue;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.075em;
    font-style: normal;
}

img {
    border: 5px solid blue;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    object-position: center top;  
}

ul { 
    padding-left: 10px;
}

li {
    padding-left: 10px; /* space between bullet and text */ 

}
main {
    width: 50%; 
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: left;
}

aside {
    width: 50%;
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: right; 
}
 
