
/*For SIU ITEC236 Final: Last Moded and Tested 4 May 2025*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
h1 h2 h3 p {
    color: black;
}
header {
    background-color: white;
    padding: 20px;
    text-align: center;
}
#nav_menu {
    display: none;
}
#mobile_menu {
    display: none;
}
main {
    text-align: center;
    padding: 50px;
    color: black;
}
